*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	width:100%;
	height: 100%;
}

img{
	display: block;
}

#App footer{
	display: block;
	width:100%;
	height:50px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background:#ffffff;
	position: fixed;
	bottom:0;
	border-top:1px solid #ccc;
}
#App footer i{
	font-size:18px;
}
#App footer dl{
	margin-top:7px;
}
#App footer .activecolor{
	color:#e5004f;
}