#Header{
	width:100%;
	height: 0.60rem;
	display: table-cell;
	vertical-align: middle;
}

#box{
	width:100%;
	height: 0.6rem;
	position: fixed;
	z-index: 999;
	background: #fff;
}

#Header .icon-geren9{
	float: left;
	font-size: 30px;
	margin-left: 0.07rem;
	margin-top:0.04rem;
}

#Header .logo{
	width:0.75rem;
	height: 0.42rem;
	float: left;
	display: inline-block;
}

#Header .search{
	width:2.4rem;
	float: left;
	border-radius: 3%;
}

#box1{
	width:100%;
	height: 0.6rem;
}

body{
	background: white;
}

#Headerall ul,#Headerall li{
	list-style:none;
}
#Headerall .tu ul{
	display: flex;
	text-align: center;
	color: #666666;font-size: 14px;
	
}
#Headerall .tu img{width:0.92rem;display: block;margin-bottom: 0.1rem;}

#Headerall .tu li{
	flex:1;
}

#Headerall .punish{width: 100%;margin-top:0.2rem;}

#Headerall .first img{
	width:50%;float: left;padding: 1px;box-sizing: border-box;
}

#Headerall .box{
	width:100%;
	height: 0.06rem;
	background: #f1f1f1
}

#Headerall .tong{
	width:100%;
}